body{
  background:#FFF9EC !important;
}

.logo{
  width:48px;
  height:48px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#fff;
}
.org_bg{ 
  background:#FE4327; 
}

.avatar{
  width:40px;
  height:40px;
  border-radius:50%;
  object-fit:cover;
}


.wrapper{
  width: 80%;
  margin:40px auto;
  padding:0 20px;
}




.image-box {
  position: relative;
  height: 100%;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rate{
  position:absolute;
  top:20px;
  left:20px;
  background:#fff;
  padding:8px 14px;
  border-radius:20px;
  font-size:14px;
}

.rate span{
  color:#888; 
}

.time-box{
  position:absolute;
  bottom:20px;
  left:20px;
  right:20px;
  background:#fff;
  border-radius:16px;
  display:flex;
  justify-content:space-around;
  padding:15px;
  text-align:center;
}

.clock i{
  color:#ff6b2d; 
}
.Cook i{
  color:#FB2D37; 
}
.Servings i{
  color:#2B7FFF; 
}
.star{
  color: #FDC700;
}




.content{
  padding:35px;
}

.badges span{
  font-size:12px;
  padding:6px 14px;
  border-radius:20px;
  margin-right:8px;
}

.easy{ background:#e7f7ec; color:#2e7d32; }
.asian{ background:#e3efff; color:#1565c0; }

.title-row{
  display:flex;
  justify-content:space-between;
  margin-top:15px;
}

.sub{
  color:#777; 
}

.actions{
  display: flex;
  gap: 12px;             
  justify-content: center; 
  align-items: center;    
}

.actions i{
  background:#fff2e3;
  padding:20px;
  border-radius:12px;
  color:#ff6b2d;
}





.custom-tabs{
  border-bottom: 1px solid #eee;
}

.custom-tabs .nav-link{
  border: none;
  background: transparent;
  color: #6b7280;
  gap: 8px;
  padding: 14px 18px;
  font-weight: 500;
  position: relative;
}

.custom-tabs i{
  font-size: 16px;
}

.custom-tabs .nav-link.active{
  color: #ff6a00;
  background: transparent;
}

.custom-tabs .nav-link.active::after{
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  background-color: #ff6a00;
  border-radius: 3px;
}


.custom-tabs .nav-link:hover{
  color: #ff6a00;
}


.ingredients{
  background:#fff7ed;
  padding:25px;
  border-radius:16px;
  overflow:auto;
}

.ingredients li{
  display:flex;
  gap:12px;
  margin-bottom:14px;
}

.ingredients span{
  width:26px;
  height:26px;
  background:#ff6b2d;
  color:#fff;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:13px;
}

.tab{
  display:none; 
}
.tab.active{ 
  display:block;
}

.btn-main{
  margin-top:24px;
  background:#ff6b2d;
  color:#fff;
  border:none;
  padding:14px 22px;
  border-radius:14px;
  cursor:pointer;
}






.steps {
  max-width: 720px;
}
.step {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 28px;
}

.step-number {
  min-width: 44px;
  height: 44px;
  background: #ff6900;
  color: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
}

.step-text {
  font-size: 16px;
  line-height: 1.6;
  color: #2d2d2d;
}









.nutrition-card {
  background: #fafafa;
  border-radius: 16px;
  padding: 22px 26px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 16px;
}
.icon {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.orange{ 
  background: #fff1e6;
  color: #ff6a00; 
}
.blue{ 
  background: #eaf1ff; 
  color: #2f6bff; 
}
.yellow{ 
  background: #fff8d6; 
  color: #e6a400; 
}
.red{ 
  background: #ffecec; 
  color: #ff3b3b; 
}
.green{ 
  background: #eaffef; 
  color: #1bbf5c; 
}
.pink{ 
  background: #ffeaf4; 
  color: #ff4fa3; 
}
.label{
  font-size: 16px;
  color: #333;
}

.value {
  font-size: 20px;
  font-weight: bold;
}









.card3 {
  display: flex;
  align-items: center;
  background: #fff7e6;
  border-left: 6px solid #f5a623;
  border-radius: 12px;
  padding: 16px 20px;
  margin-bottom: 16px;
}

.check {
  background: #E17100;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.card3 p {
  margin: 0;
  font-size: 16px;
  color: #333;
}





/* RESPONSIVE */
@media (max-width:900px){
  .card{
    flex-direction:column; 
  }
  .image-box,.content{ 
    width:100%; 
  }
}
